.weather{
    max-width: 400px;
    margin: 70px auto;
    padding: 50px;
    background-color: aqua;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.weather-info{
    margin-top: 20px;
}
.button{
    padding: 3px;
    margin: 7px;
}
.input{
    padding: 8px;
}